.container-fluid
{
	width:100%;
	padding-left: 0px;
	padding-right:0px;
}
nav ul li
{
	padding-right:20px;
	
}

.jumbotron 

{
	text-align:center;
	font-family:'Libre Baskerville', serif;
}
.section-jumbo
{
	background-color:#e9ecef;

	
}
.section-jumbo .row
{
	margin-left:0px;
	margin-right:0px;
}
.carousel-item	img
{
	height:auto;

}
.section-darker
{
	background-color:#cccccc;
	padding:2rem;
}
.signin
{
	padding:3px;
	border:3px solid #00CC00;
	border-radius:3px;
	background-color:transparent;
	color:#00CC00;
	transition:all 0.08s linear;


}
.signin:hover
{
	background-color:green;
	text-decoration:none;
	color:white;
}
.search
{
	padding:3px;
	border:3px solid #00CC00;
	border-radius:3px;
	background-color:transparent;
	color:#00CC00;
	transition:all 0.08s linear;
	

}
.search:hover
{
	background-color:green;
	text-decoration:none;
	color:white;
}
.searchBar
{
	margin-right:9px;
}
.disp_card
{
	background-color:#343a40;
	margin-bottom:10px;

}
.disp_card:hover
{
	box-shadow:2px 6px 2px 0px rgba(0,0,0,0.3),-2px 0 2px 0px rgba(0,0,0,0.3);
	

}

@media screen and (max-width:576px)
{
	.text_field
	{
		width:100%;
	}
}

